{% extends 'template.html.twig' %}

{% block body %}

    <table>
        <tbody>
        <div class="card">

            <h3 class="card-header">ID</h3>
            <div class="card-body">
                {{ commentaire.id }}
            </div>
        </div>&nbsp;&nbsp;
        <div class="card">
            <h3 class="card-header">Idarticle</h3>
            <div class="card-body">
                {{ commentaire.idArticle.id }}
            </div>
        </div>&nbsp;&nbsp;
            <div class="card">
            <h3 class="card-header">Iduser</h3>
            <div class="card-body">
                {{ commentaire.idUser }}
            </div>
            </div>&nbsp;&nbsp;

        <div class="card">

            <h3 class="card-header">Dateajout</h3>
            <div class="card-body">
                {{ commentaire.dateAjout }}
            </div>
        </div>&nbsp;&nbsp;


        <div class="card">

            <h3 class="card-header ">Datemodif</h3>
            <div class="card-body">
                {{ commentaire.dateModif }}
            </div>
        </div>&nbsp;&nbsp;


        <div class="card">

            <h3 class="card-header">Nbjaime</h3>
            <div class="card-body">
                {{ commentaire.nbjaime }}
            </div>
        </div>&nbsp;&nbsp;</tbody>
        <br><tbody><tr><td>
        <div class="card">

                        <h3 class="card-header">Contenu</h3>
                    <div class="card-body">
                        {{ commentaire.contenu }}
                    </div>
        </div></td></tr></tbody>
                    <!-- /.card-body -->




        </div>
        </tbody>
    </table>
    <br>
    &nbsp;&nbsp;
        <a  class="btn btn-info"  href="{{ path('commentaire_index') }}">Back to the list</a> &nbsp;

         <a  class="btn btn-info"  href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">Edit</a>&nbsp;

        {{ form_start(delete_form) }}
        <input type="button" class="btn btn-danger"  type="submit" value="Delete">
        {{ form_end(delete_form) }}


{% endblock %}
